@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.contnav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    margin-top: 20px;
    align-items: center;
}

.buttonul{
    font-family: 'Dela Gothic One', cursive;
    background-image: url(../../Imagenes/fondoboton.png);
    background-color: yellow;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(2);
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
    color: orange;
    height: 31px;
    width: 31px;
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    margin-top: 100px;
    border: 0.5px #c12025ad solid;
}
.buttonul:hover{
    transform: scale(2.2);
    cursor: pointer;
    color: yellow;
    border: 0.5px white solid;
}
.list{
    display: flex;
    gap: 28px;
}